.cover {
  max-width: 1184px;
  /* width: 1184px; */
  width: calc(100% - 96px);
  background-image: url('../../images/cover-trains.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  /* min-height: 100vh; */
  margin-top: 92px;
  display: flex;
  flex-direction: column;/*
  justify-content: center;
  align-content: center; */
  align-self: center;
  /* box-sizing: border-box; */
  position: relative;
  padding: 245px 0;
  object-fit: contain;
  /*
  box-sizing: border-box;
  overflow: hidden; */
  cursor: pointer;

}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: .3;
  transition: .5s;
}

.cover:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1279px){
  .cover {
    width: 100%;
    padding: 195px 0;
  }
}

@media screen and (max-width: 1023px){
  .cover {
    /* max-width: 1024px; */
    padding: 115px 0;
  }
}

@media screen and (max-width: 767px){
  .cover {
    max-width: 767px;
    width: 100%;
    padding: 33px 0;
  }
}

